.productcard {
  background: linear-gradient(to top, #fdfdfd, #f3ffff);
  model-viewer {
    height: 300px;
    width: 280px;
    margin: auto;
  }
  .p {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}
