.container {
  text-align: center;
  .heading {
    font-weight: 500;
  }
  .loginBtn {
    margin-top: 20px;
  }
  .para {
    padding-top: 20px;
    .signupBtn {
      margin-left: 5px;
    }
  }
}
