.productadd {
  display: flex;
  justify-content: space-around;

  .btn {
    margin-top: 10px;
  }
  .heading {
    text-align: center;
  }
  @media only screen and (max-width: 600px) {
    flex-direction: column;
    align-items: center;
    .btn {
      margin-top: 20px;
    }
    .top {
      text-align: center;
    }
    .heading {
      text-align: left;
      padding-left: 20px;
    }
    .file {
      padding-top: 40px;
    }
  }
}
